.hero-header{
    background: url('../img/about-bg.gif') center/cover;
}

.contact-hero-section-2 {
    width: 100%;
    height: calc(15vh - 2px);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.contact-hero-section-2 p {
    font-size: 45px;
    color: #fff;
}

.header-about {
    width: 100%;
    height: calc(25vh - 25px);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 100px;
}

.header-about h2 {
    text-decoration: underline;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 20px;
}

.about-solutions-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
    margin: 50px 0;
}

.about-sol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 988px;
    width: 700px;
    box-shadow: 1px 2px 3px 4px rgba(12, 12, 12, 0.2);
    background: #000;
    position: relative;
}

.about-sol-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 988px;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background: #000;
    position: absolute;
    color: white;
    padding: 50px;
    opacity: 0;
}

.about-sol-2 p {
    margin: 10px 0px;
}

.about-sol:hover .about-sol-2 {
    opacity: 1;
    transition: 0.3s;
}

.about-sol-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.about-image-sol {
    width: 100%;
}

.about-bottom {
    align-items: center;
    text-align: center;
    margin: auto;
}

.about-bottom h3 {
    margin-bottom: 25px;
    font-size: 15px;
    color: #DD9B00;
}

.about-bottom h2 {
    font-size: 23px;
    color: white;
    text-decoration: underline;
}

.about-dis {
    text-align: left !important;
    margin: 0px 25px !important;
}

.about-dis-2 {
    text-align: left !important;
    margin: 5px !important;
}