footer {
    position: relative;
    width: 100%;
    padding: 2vw 1vw;
    background: #212121;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iframe{
    width: 12vw;
    height: 12vw;
    border-radius: 0.5vw;
    margin-right: 2vw;
    border: 0.2vw solid #959595;
}

.footer-content p {
    color: #E18B30;
    font-size: 0.9vw;
}

.footer-content span {
    font-size: 0.9vw;
}

.footer-content p span{
    color: white;
}

.location {
    border: 0.3vw solid #959595;
    border-radius: 0.5vw;
}

.contact {
    display: flex;
    flex-direction: column;
    margin-left: 6vw;
}

.contact-title {
    margin-bottom: 0.4vw;
    font-size: 1vw;
}

.contact p {
    width: 16.8vw;
    margin-bottom: 0.4vw;
}

.contact-logo {
    margin-right: 0.4vw;
    margin-top: 0.1vw;
    width: 10%;
}

.contact span {
    width: 13vw;
    margin-bottom: 0.4vw;
}

.logo-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -15vw;
}

.logo-bottom-name p {
    color: white;
    text-align: center;
    font-size: 1vw;
}

.bottom-brand-logo {
    width: 60%;
    margin-bottom: 0.4vw;
}

.about .description {
    color: #959595;
    width: 30vw;
    margin: 0.6vw 0;
    font-size: 0.9vw;
}

.about {
    margin-top: 1.4vw;
    margin-left: 5.9vw;
}

.about h4{
    font-size: 1vw;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111111;
    padding: 1vw;
    color: #959595;
    font-size: 1.2vw;
}

.read {
    color: #CCCCCC;
    text-decoration: none;
    margin-top: 3vw;
    font-size: 1.05vw;
}

.footer-section-2{
    display: flex;
    justify-content: space-between;
}
.footer-section-3{
    display: flex;
    justify-content: space-between;
}


@media only screen and (max-width: 450px) {

    footer {
        width: 100%;
        padding: 0vw;
    }

    .footer-content {
        flex-direction:column-reverse;
    }

    .footer-section-2{
        width: 100%;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    .footer-section-3{
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 2.5vw 0vw;
        padding: 4vw 4vw;
        padding-bottom: 0vw;
    }

    .logo-bottom {
        display: flex;
        flex-direction: row;
        margin-left: 0vw;
    }

    .bottom-brand-logo{
        width: 15%;
    }

    .logo-bottom-name p {
        font-size: 3vw;
        text-align: left;
        margin-left: 2vw;
    }

    .about {
        margin-top: 1.4vw;
        margin-left: 0vw;
    }

    .about h4{
        visibility: hidden;
    }

    .about .description {
        width: 100%;
        margin: 0.9vw 0;
        font-size: 2.8vw;
    }

    .read {
        visibility: hidden;
    }

    .iframe{
        width: 100%;
        height: 150px;
        border: none;
        border-radius: 0%;
    }

    .contact{
        margin-bottom: 3vw;
        margin-top: -1vw;
    }

    .contact-title {
        visibility: hidden;
    }

    .contact-logo {
        width: 26%;
        margin-right: 1vw;
        margin-bottom: 2vw;
        margin-top: -1vw;
    }

    .contact div{
        margin: auto;
    }

    .contact p {
        width: 100%;
        margin-bottom: 1vw;
        font-size: 3vw;
    }

    .contact span {
        width: 50vw;
        margin-bottom: 0.4vw;
        font-size: 3vw;
    }

    .footer-bottom {
        padding: 2vw;
        font-size: 3vw;
        margin-top: 0%;
    }

    #a{
        order: 1;
    }
    #x{
        order: 2;
    }
    #y{
        order: 3;
    }
    #z{
        order: 4;
    }
    #k{
        order: 5;
    }
}