footer {
    position: relative;
    width: 100%;
    padding: 32px 1vw;
    background: #212121;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer-content p {
    color: #E18B30;
    font-size: small;
}

.footer-content span {
    font-size: small;
}

.footer-content p span{
    color: white;
}

.location {
    border: 3px solid #959595;
    border-radius: 5px;
    margin-top: 8px;
}

.contact {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.contact-title {
    margin-bottom: 8px;
    font-size: medium;
}

.contact p {
    width: 268px;
    margin-bottom: 8px;
}

.contact-logo {
    margin-right: 6px;
}

.contact span {
    width: 180px;
    margin-bottom: 8px;
}

.logo-bottom {
    display: flex;
    flex-direction: column;
    height: 64px;
    align-items: center;
    margin-left: -28px;
}

.logo-bottom-name p {
    color: white;
    text-align: center;
    font-size: 14px;
}

.bottom-brand-logo {
    width: 60%;
    margin-bottom: 8px;
}

.about .description {
    color: #959595;
    width: 464px;
    margin: 8px 0;
    font-size: small;
}

.about {
    margin-top: 16px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    padding: 12px;
    color: #959595;
}

.footer-bottom span {
    margin-right: -92px;
}

.read {
    color: #CCCCCC;
    text-decoration: none;
    margin-top: 30px;
}