@import 'nav.css';
@import 'footer.css';
@import 'contact.css';
@import 'about.css';
@import 'solution.css';

.hero-section {
    width: 100%;
    height: calc(105vh - 120px);
    background-image: url('../img/Banner.gif');
    background-size: cover;
    display: flex;
}

.hero-section .sub-heading {
    margin-top: 10px;
    color: white;
    text-transform: capitalize;
    font-size: 45px;
    position: relative;
    top: 200px;
    left: 143px;
    width: 648px;
}


/* product */

.product {
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
}

.product-title {
    padding: 0 10vw;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
    line-height: 80px;
    margin: 60px;
}

.product-container {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    margin: 0 4vw;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 auto;
    width: 300px;
    height: 450px;
    margin-right: 80px;
    background: #000;
    color: white;
    border-radius: 5px;
    animation: 35s slide infinite linear;
    cursor: pointer;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-670%);
    }
}

.product-container:hover .product-card {
    animation-play-state: paused;
}

.product-image {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;

}

.product-thumb {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.product-info {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
}

.product-brand {
    text-align: center;
    margin-top: 5px;
    text-decoration: underline;
    font-size: 18px;
}

.product-short-des {
    display: inline-block;
    width: 100%;
    height: 135px;
    line-height: 20px;
    overflow: hidden;
    padding: 5px 15px;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
}



/* main-section */

main {
    margin-top: 100px;
    width: 100%;
    height: calc(25vh - 30px);
    background-image: url('../img/bg2.png');
    background-size: cover;
    margin-bottom: 150px;
}

.hero-section-2 {
    display: flex;
    justify-content: center;
}

.description {
    display: flex;
    justify-content: center;
}

.hero-section-2 .sub-heading-2 {
    margin-top: 30px;
    text-align: center;
    color: #000;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 900;
    text-decoration: none;
    position: relative;
}

.hero-section-2 .sub-heading-2:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 2px;

    border-width: 0 0 4px;
    border-style: solid;
    color: #E18B30;
    filter: blur(1px);
}

.description .sub-heading-3 {
    margin-top: 30px;
    text-align: center;
    color: #000;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
}

.content-3 {
    width: 51%;
}


/* solutions */

.solutions {
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
}

.solutions-services {
    border: 2px black solid;
    padding: 50px 60px 50px 60px;
}

.venue-spaces {
    border: 2px black solid;
    padding: 50px 50px 50px 50px;
}

.part-header {
    display: flex;
    justify-content: center;
}

.title {
    position: relative;
    text-align: center;
    padding: 0 5px;
    line-height: 32px;
}

.title:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0px;

    border-width: 0 0 4px;
    border-style: solid;
    color: #E18B30;
    filter: blur(1px);
}

.part {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 40px 0;
    padding: 0 5px;
    width: 600px;
}

.part-text-title{
    line-height: 20px;
}

.part-des{
    line-height: 18px;
}

.part::after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0px;

    border-width: 0 0 4px;
    border-style: solid;
    color: black;
}

.part-text {
    display: flex;
    flex-direction: column;
}